<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>National Parks Finder</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
<style>
#map {width: 500px; height: 500px; }
</style>
</head>

<body>

    <label for="states">What State would you like to search?</label>
	<select name="states" id="states">
        {% for state in states %}
        <option value="key">{{state}}</option>
        {% endfor %}
    </select>
    
    <label for="months">When are you going?</label>
	<select name="months" id="months">
        {% for month in months %}
        <option value="key">{{ month }}</option>
        {% endfor %}
    </select>
    <button type="button">SEARCH</button>

	<div id="map">
	</div>

<script>
    // set center of map
    let USAcoordinates = [-98.5795,39.8283]//lat then long

    //retrieve key from app.py
	mapboxgl.accessToken = "{{ key }}"
	
	map = new mapboxgl.Map({
	container: 'map', // container id
	style: 'mapbox://styles/mapbox/streets-v11', // style URL
	center: USAcoordinates, // starting position [lng, lat]
	zoom: 3.5 // starting zoom
	});

	bridges = [
    {"name": "Verrazano-Narrows Bridge", "city": "New York", "state": "NY", "span": 1298.4, "location": [-74.0447,40.6066]},
    {"name":"Mackinac Bridge","city":"Mackinaw and St Ignance","state":"MI","span":1158.0, "location":[-84.7278,45.8174]},
    {"name":"George Washington Bridge","city":"New York","state":"NY","span":1067.0, "location":[-73.9527,40.8517]}
	]

	bridges.forEach(function (bridge){
		let popupText = `${bridge.name} <br> ${bridge.city}, ${bridge.state} <br> ${bridge.span} Meters long`
		let marker = new mapboxgl.Marker()
			.setLngLat(bridge.location)
			.setPopup(new mapboxgl.Popup().setHTML(popupText))
			.addTo(map)
	})


</script>
</body>
</html>