{% extends 'index.html' %}
{% block content%}
<h1>testing template...</h1>
{% endblock content %}
{% block scripts %}
<script>
	// set center of map
	let USAcoordinates = [-98.5795,39.8283]
    //retrieve key from app.py
	mapboxgl.accessToken = "{{ key }}"
	
	map = new mapboxgl.Map({
	container: 'map', // container id
	style: 'mapbox://styles/mapbox/streets-v11', // style URL
	center: USAcoordinates, // starting position [lng, lat]
	zoom: 3.5 // starting zoom
	});

	let parks = "{{ parks }}";
	parks = parks.replaceAll("&#39;", "\'");
	parks = parks.replaceAll("&#34;", "\"");
	parks = parks.substr(1).slice(0, -1);
	parks = JSON.parse(parks);

	parks.forEach(function (park){
		let popupText = `${park.park.name} <br> ${park.park.city}, ${park.park.state} <br> ${park.park.description}`
		let marker = new mapboxgl.Marker()
			.setLngLat([parseFloat(park.park.longitude),parseFloat(park.park.latitude)])
			.setPopup(new mapboxgl.Popup().setHTML(popupText))
			.addTo(map)
	})
</script>
{% endblock scripts %}
