{% extends 'index.html' %}
{% block head %}
  {{ super() }}
  <style type="text/css">
.images{
	margin-top: 5px;
	 margin-left: auto;
     margin-right: auto;
}
.images img {
	height: 200px;
	width: 225px
}
#trip-info{
	color:rgb(51, 51, 51) ;
}

.trip-name{
font-size: 10px;
float: left;
}
.weather{
font-size: 10px;
float: center;
}

#save-button{
	float: right;
}
ul {
  list-style-type: none;
}
.column {	
  float: left;
  width: 20%;
  margin: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  </style>
{% endblock head %}
{% block content%}

<div id='trip-info'>
	<div class='images'>
		<img id='img1' src="" alt="park image one" style="visibility:hidden">
		<img id='img2' src="" alt="park image two" style="visibility:hidden">
		<img id='img3'src="" alt="park image three" style="visibility:hidden">
		<img id='img4' src="" alt="park image four" style="visibility:hidden">
	</div>
	<div class=row>
		<div class='trip-name column'>
			<h1 id='park-name'></h1>
			<h1 id='park-city-state'></h1>
		</div>
		<div class='weather column'>
			<h1 id=month-display></h1>
			<h1 id='avg-temp'></h1>
			<h1 id='min-temp'></h1>
			<h1 id='max-temp'></h1>
			<h1 id='avg-rain'></h1>
		</div>
		<div class='column'>
			<button type="submit" id='save-button' class='button button2' style="visibility:hidden">SAVE TRIP</button>
		</div>
	</div>
	<br>

	</div>
<br>
<ul id='saved-trips'>
</ul>
<br>
<table>
	<!-- here goes our data! -->
</table>


{% endblock content %}
{% block scripts %}
<script>

	markers()
	
	function markers(){
		let parks = "{{ parks }}";
		parks = parks.replaceAll("&#39;", "\'");
		parks = parks.replaceAll("&#34;", "\"");
		parks = parks.substr(1).slice(0, -1);
		parks = JSON.parse(parks);
		
		let month = "{{ month_input }}"
		
		parks.forEach(function (park){
			let popupText = `${park.park.name} <br> ${park.park.city}, ${park.park.state} <br> ${park.park.description}`
			let marker = new mapboxgl.Marker()
				.setLngLat([parseFloat(park.park.longitude),parseFloat(park.park.latitude)])
				.setPopup(new mapboxgl.Popup().setHTML(popupText))
				.addTo(map)
				map.flyTo({
				center: [parseFloat(park.park.longitude),parseFloat(park.park.latitude)]
				});
				let data = []
				marker.getElement().addEventListener('click', () => {
					//call fetch_data to get Park data, pictures, weather
					park_id = park.park.id
					getData(park_id,month)
					})// end of event listener
			}) //end of for each
	}
	function saveData(park_data) {
		trip_id = park_data['park']['trip_id']
		  return new Promise((resolve, reject) => {
			url = `http://127.0.0.1:5000/saved_trip_info/${trip_id}/`
			fetch(url)
			.then( (response) => {
			console.log(response) // logging response from the server
			// extract JSON
			return response.json()
			})
			.then( (data) => {
				document.getElementById("saved-trips").innerHTML = "";
				data.forEach(function (park){	
					trip_string = `${park['park']['park_name']} ${park['park']['city']}, ${park['park']['state']} ${park['park']['month']} Average Temp: ${park['park']['avg_temp']}
								   Max Temp: ${park['park']['max_temp']} Min Temp: ${park['park']['min_temp']}`
					saved_trip = document.createTextNode(trip_string) 
					let saved_trips_list = document.createElement("LI");
					saved_trips_list.appendChild(saved_trip);  
					document.getElementById("saved-trips").appendChild(saved_trips_list)  
					document.getElementById("saved-trips").appendChild(saved_trips_list)                      
				})
				
				
			})
		})    
}

	function getData(park_id,month) {
		url = `http://127.0.0.1:5000/park_info/${park_id}/${month}` //api/db url here
		  return new Promise((resolve, reject) => {
			fetch(url)
			.then( (response) => {
			console.log(response) // logging response from the server
			// extract JSON
			return response.json()
			})
			.then( function(data) {
					
				let name = document.getElementById("park-name")
				name.innerHTML = JSON.stringify(data['park']['park_name']).replaceAll("\"","")
	
				let city_state = document.getElementById("park-city-state")
				city_state.innerHTML = JSON.stringify(data['park']['city'] + ', ' + data['park']['state']).replaceAll("\"","")
	
				let avg_temp = document.getElementById("avg-temp")
				avg_temp.innerHTML = `Average Temp: ${data['park']['avg_temp']} &#8457;`
	
				let max_temp = document.getElementById("max-temp")
				max_temp.innerHTML = `Max Temp: ${data['park']['max_temp']} &#8457;`
	
				let min_temp = document.getElementById("min-temp")
				min_temp.innerHTML = `Min Temp: ${data['park']['min_temp']} &#8457;`
	
				let avg_rain = document.getElementById("avg-rain")
				avg_rain.innerHTML = `Average Rainfall: ${ data['park']['precipiation']} inches`

				let month_display = document.getElementById("month-display")
				month_display.innerHTML = `Weather for ${month}`
	
				let image1URL = document.getElementById("img1")
				image1URL.style.visibility="visible"
				image1URL.src = data['park']['image_1'].replaceAll("\"","")
	
				let image2URL = document.getElementById("img2")
				image2URL.style.visibility="visible"
				image2URL.src = data['park']['image_2'].replaceAll("\"","")
	
				let image3URL = document.getElementById("img3")
				image3URL.style.visibility="visible"
				image3URL.src = data['park']['image_3'].replaceAll("\"","")
	
				let image4URL = document.getElementById("img4")
				image4URL.style.visibility="visible"
				image4URL.src = data['park']['image_4'].replaceAll("\"","")
	
				document.getElementById("save-button").style.visibility = "visible";
	
				document.getElementById("save-button").addEventListener('click', () => {
					saveData(data)
				}) //end of save button listener 
	
			}) //if issues connecting to API error displays
			.catch( error => {
				console.log(error)
				alert('ERROR, VIEW CONSOLE FOR MORE DETAILS')
			})
		})
	}
	</script>
{% endblock scripts %}