{% extends 'index.html' %}
{% block content%}
<h1>testing template...</h1>
{% endblock content %}
{% block scripts %}
<script>
	// set center of map
	let USAcoordinates = [-98.5795,39.8283]
    //retrieve key from app.py
	mapboxgl.accessToken = "{{ key }}"
	
	map = new mapboxgl.Map({
	container: 'map', // container id
	style: 'mapbox://styles/mapbox/streets-v11', // style URL
	center: USAcoordinates, // starting position [lng, lat]
	zoom: 3.5 // starting zoom
	});

	let parks = "{{ parks }}";
	parks = parks.replaceAll("&#39;", "\'");
	parks = parks.replaceAll("&#34;", "\"");
	parks = parks.substr(1).slice(0, -1);
	parks = JSON.parse(parks);

	parks.forEach(function (park){
		let popupText = `${park.park.name} <br> ${park.park.city}, ${park.park.state} <br> ${park.park.description}`
		let marker = new mapboxgl.Marker()
			.setLngLat([parseFloat(park.park.longitude),parseFloat(park.park.latitude)])
			.setPopup(new mapboxgl.Popup().setHTML(popupText))
			.addTo(map)
			map.flyTo({
			center: [parseFloat(park.park.longitude),parseFloat(park.park.latitude)]
			});

			marker.getElement().addEventListener('click', () => {
			//call fetch_data to get Park data, pictures, weather
				park_id = park.park.id
				alert(park_id); //test if working
				fetch_data(park_id)

			})

		
        })

	function fetch_data(park_id){
		url = `http://127.0.0.1:5000/park_info/${park_id}` //api/db url here
		fetch(url)
			.then( (response) => {
				console.log(response) // logging response from the server
				// extract JSON
				return response.json()
			})
			.then( function(data) {
				console.log(data)

				//access data here

			}) //if issues connecting to API error displays
			.catch( error => {
				console.log(error)
				alert('ERROR, VIEW CONSOLE FOR MORE DETAILS')
			})
	}

</script>
{% endblock scripts %}
